*{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

#navBar{
    background-color: darkblue;
    display: flex;
}

#navBar h1{
    text-decoration: orange;
}

body{
    /*background-image: url("images/UWI_IMG1.jpg");*/
    background-color: rgb(0, 0, 92);
}

button{
    background-color: orange;
    color: darkblue;
    border-radius: 25%;
}

#homePage{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh;
}

.container{
    width:auto;
    height: auto;
    border: solid 3px black;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {margin: 0 -5px;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }