*{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

#navBar{
    background-color: darkblue;
    display: flex;
}

#navBar h1{
    margin-left: 5%;
    margin-right: auto;
    font-size: 6vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

#navBar button{
    margin-left: auto;
    margin-right: 5%;
    font-size: 4vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

body{
    /*background-image: url("images/UWI_IMG1.jpg");*/
    background-color: rgb(0, 0, 92);
}

button{
    background-color: orange;
    color: darkblue;
    border-radius: 15%;
}

#homePage{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 100vh;
    background-image: url('./images/PXL_20240324_204800385.RAW-02.ORIGINAL.jpg');
}

#homePage #homePageText{
    text-align: center;
    color: white;
    padding-top: 60vh;
}

.container{
    width:20%;
    height: 33vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border: solid 3px black;
    text-align: left;
    border-radius: 5%;
}